{
    "tabWidth": 4,
    "semi": true,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.css",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
