* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    cursor: default
}

@import url('https://unpkg.com/css.gg/icons/all.css');

html {
    background-color: transparent;
}

h1 {
    font-size: normal;
}

::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    background-color: white;
}

.fileContainer {
    display: inline-block;
    vertical-align: top;
    background-color: transparent;
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(184, 184, 184, 0.664);
    padding-bottom: 20px;
}

#fileContainerName {
    color: rgb(94, 154, 209);
    text-align: left;
    display: inline-block;
    width: 80%;
    margin-bottom: 7px;
    text-decoration: underline;
}

#head {
    width: 100%;
    height: 75px;
    background-color: #ffffff;
    -webkit-app-region: drag;
    box-shadow: 0px 3px 5px 0px rgba(158,158,158,0.5);
    position: relative;
    vertical-align: top;
    font-size: 0;
}

#toolbar {
    display: inline-block;
    height: 50%;
    width: 90%;
    overflow: hidden;
    text-align: left;
    -webkit-app-region: drag;
}

#toolbar button {
    -webkit-app-region: no-drag;
}

#windowMenu {
    display: inline-block;
    position: absolute;
    height: 50%;
    top: 0;
    right: 0;
    -webkit-app-region: no-drag;
}

#windowMenu img {
    height: 15px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;
    cursor: pointer;
    filter: invert(.4);
}

#windowMenu img:hover {
    filter: invert(1);
    background-color: #6363636b;
}

#windowMenu #close:hover {
    filter: invert(1);
    background-color: #00ffff
}

#preview {
    width: calc(100% - 300px);
    height: calc(100vh - 75px);
    position: absolute;
    right: 0;
    background-color: white;
    transition: width .3s;
}

#previewWindow {
    width: 100%;
    height: 100%;
    display: flex;
	flex-direction: column;
    align-items:center;
    box-shadow: 0px 3px 9px rgba(97, 97, 97, 0.5);
}

#menu {
    width: 330px;
    height: calc(100vh - 75px);
    overflow: auto;
    position: fixed;
    bottom: 0;
    background-color: #F9F9FA;
    z-index: 300;
    box-shadow: 0px 3px 9px rgba(97, 97, 97, 0.5);
    transition: width .3s;
}

#headButton {
    border: 0;
    height: 100%;
    padding: 5px;
    background-color: transparent;
    color: rgb(97, 97, 97);
    font-weight: 400;
    font-size: 13pt;
    padding-left: 15px;
    padding-right: 15px;
    transition: all .1s ease-in-out;
    cursor: pointer;
}

#headButton:hover{
    color: rgb(94, 154, 209);
    background-color: rgba(167, 167, 167, 0.185);
}

#filesList {
    height: 50%;
    width: 100%;
    display: inline-block;
    font-size: medium;
    vertical-align: bottom;
}

#filesList button {
    -webkit-app-region: no-drag;
}

#fileSelector {
    border: 0;
    height: 100%;
    color: rgb(97, 97, 97);
    font-weight: 600;
    font-size: 10pt;
    padding-left: 15px;
    padding-right: 15px;
    transition: all .1s ease-in-out;
    cursor: pointer;
    background-color: transparent;
}

#fileSelector:hover {
    color: rgb(94, 154, 209);
    background-color: rgba(167, 167, 167, 0.185);
}

#editors {
    padding-top: 40px;
    width: 100%;
    height: calc(100% - 40px);
    overflow: scroll;
    text-align: left;
    scroll-behavior: smooth;
    background-color: #F9F9FA;
    vertical-align: top;
}

.scopeContainer {
    background-color: white;
    width: 320px;
	display: inline-block;
    vertical-align: top;
    box-shadow: 0px 0px 2px gray;
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: .2s ease-in-out;
    margin: 2px;
    border-radius: 2.5px;
}

.scopeContainer h3 {
    color: rgb(94, 154, 209);
    text-align: left;
    margin: 5px;
    margin-left: 10px;
    border-left: 3px solid rgb(94, 154, 209);
    padding-left: 2%;
}

.box {
    background-color: white;
    width: 315px;
	display: inline-block;
    vertical-align: top;
    box-shadow: 0px 0px 2px gray;
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: .2s ease-in-out;
    margin: 2px;
    border-radius: 2.5px;
}

#slider {
    outline: none;
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(94, 154, 209);
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #F9F9FA;
    border-radius: 100%;
    box-shadow: 0px 0px 8px gray;
    cursor: pointer;
}

.box h3 {
    color: rgb(94, 154, 209);
    text-align: left;
    margin: 5px;
    margin-left: 10px;
    border-left: 3px solid rgb(94, 154, 209);
    padding-left: 2%;
    cursor: pointer;
}

.box p {
    display: inline-block;
}

.propertyContainer {
    text-align: left;
    display: block;
    padding: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 2.5px;
    transition: all 0.2s ease-in-out;
}

#dropdown {
    border: 0;
    background-color: rgba(167, 167, 167, 0.185);
    padding: 3px;
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    outline: none;
    cursor: pointer;
}

#dropdownOption {
    outline: none;
    border: 0;
    background-color: rgba(167, 167, 167, 0.185);
}

#unitInput {
    border: 0;
    background-color: rgba(167, 167, 167, 0.185);
    padding: 3px;
    width: 45px;
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    vertical-align: middle;
}

#valueInput {
    border: 0;
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
    background-color: rgba(167, 167, 167, 0.185);
    color: rgb(94, 154, 209);
    padding: 4px;
    outline: none;
    width: 22px;
    vertical-align: middle;
    font-weight:bold;
}

.box #colorPicker{
    font-family: consolas;
    border: 0;
    box-shadow: 2px 3px 5px 0px rgba(158,158,158,0.5);
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    width: 70px;
    text-align: center;
}

.box #valueField {
    border: 0;
    border-radius: 2.5px;
    background-color: rgba(167, 167, 167, 0.185);
    color: rgb(94, 154, 209);
    padding: 5px;
    outline: none;
    vertical-align: middle;
}

.box #propertyDisplay{
    margin-bottom: 2%;
    font-weight: bold;
    color:rgb(97, 97, 97);
    vertical-align: middle;
}

#sliderBox {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

#slider {
    border-radius: 5px;
    width: calc(100% - 80px);
    display: inline-block;
}

#box-shadow #slider{
    margin-bottom: 20px;
}

#valueBox{
    float: right;
}

#valueBox p{
    color: rgb(180, 180, 180);
}
#valueBox input, #valueBox select{
    font-family: Consolas;
}
.activeButton{
    text-decoration: underline;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: calc(50% - 80px);
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid rgb(94, 154, 209);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 50px;
      left: 50px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 100px;
      height: 100px;
      opacity: 0;
    }
}