* {
	margin: 0px;
	padding: 0px;
	transition: all .3s ease-in-out;
}

body {
	width: 100%;
	height: 100vh;
	background-color: #f2ecff;
	-webkit-text-align: center;
	text-align: center;
	font-family: Arial;
}

#box {
	display: inline-block;
	width: 400px;
	margin: 16px;
	padding: 25px;
	border-radius: 5px;
	background-color: #f8f5ff;
	box-shadow: 0px 0px 36px rgb(183, 178, 195);
	-webkit-text-align: left;
	text-align: left;
	cursor: pointer;
	max-width: 90%;
	opacity: 0.8;
}

#box:hover {
	padding: 45px;
	opacity: 1;
}

#box h1 {
	color: rgb(143, 115, 220);
	margin-bottom: 13px;
}

#box p {
	color: #160046;
}

@media only screen and (min-width: 1000px) {
	body {
		background-color: rgb(53, 53, 53);
	}

	#box {
		background-color: rgb(37, 37, 37);
		border-radius: 0px;
		box-shadow: 0px 0px 10px rgb(31, 31, 31);
		opacity: 1;
	}

	#box h1 {
		color: rgb(75, 20, 224);
		margin-bottom: 13px;
	}
	
	#box p {
		color: #9e9e9e;
		opacity: 0.7;
	}
}

